<div class="sign-in">
  <form [formGroup]="loginForm" (ngSubmit)="signIn()" class="sign-in__form">
    <div class="sign-in__form-group">
      <label class="sign-in__label">
        login:
        <input type="text" formControlName="login" class="sign-in__input input input--large" [ngClass]="{'input--error': submitted && loginControl.errors}"/>
        <ng-container *ngIf="submitted && loginControl.errors">
          <div *ngIf="submitted && loginControl.errors.required" class="sign-in__validation-error text text--error">
            *Login is required
          </div>
        </ng-container>
      </label>
      <label class="sign-in__label">
        password:
        <input type="password" formControlName="password" class="sign-in__input input input--large" [ngClass]="{'input--error': submitted && passwordControl.errors}"/>
        <ng-container *ngIf="submitted && passwordControl.errors">
          <div *ngIf="submitted && passwordControl.errors.required" class="sign-in__validation-error text text--error">
            *Password is required
          </div>
        </ng-container>
      </label>
    </div>
    <button type="submit" class="sign-in__button button button--primary button--large">
      Sign in
    </button>
  </form>
  <a routerLink="/auth/sign-up" class="sign-in__link">By this link you can create your demo account</a>
</div>