:host {
  width: 100%;
  .sign-in {
    margin: 0 auto;
    box-sizing: border-box;
    font-size: 1.6rem;
    width: 450px;
    min-height: 200px;
    padding: 22px;
    border: 2px #ffffff solid;
    background-color: #cccccc2e;
    border-radius: 8px;

    &__icon {
      display: block;
      margin: 0 auto;
      width: 220px;
      height: 170px;
    }

    &__form {
      min-height: inherit;
      display: flex;
      flex-flow: column;
      justify-content: space-around;
    }

    &__label {
      text-transform: uppercase;
      display: block;
      margin-top: 10px;
      color: #ffffff;
      padding: 8px 0px 8px 0px;
    }

    &__input {
      font-size: 1.6rem;
      margin-top: 5px;
      border-radius: 4px;
      line-height: 24px;
      border: 1px #999999 solid;
      box-sizing: border-box;
      width: 100%;
      padding: 12px;
    }

    &__button{
      margin-top:30px;
    }

    &__link {
      display: block;
      color: #ffffff;
      margin-top: 80px;
      font-size: 1.5rem;
      text-align: right;
    }

  }

  @media screen and (max-width: 600px) {
    .sign-in {
      width: 90%;
    }
  }
}
