<div class="sign-in">
  <form class="sign-in__form"  (ngSubmit)="signIn($event)">
    <div class="sign-in__form-group">
      <label class="sign-in__label">
        login:
        <input type="text" class="sign-in__input" />
      </label>
      <label class="sign-in__label">
        password:
        <input type="password" class="sign-in__input" />
      </label>
    </div>
    <button type="submit" class="sign-in__button button button--primary button--large">
     Sign in
    </button>
  </form>
    <a routerLink="/auth/sign-up" class="sign-in__link">By this link you can create your demo account</a>
</div>
