
<div class="sign-up">
    <form class="sign-up__form">
      <div class="sign-up__form-group">
        <label class="sign-up__label">
            First name:
            <input type="text" class="sign-up__input" />
          </label>
          <label class="sign-up__label">
            Last name:
            <input type="text" class="sign-up__input" />
          </label>
          <label class="sign-up__label">
            login:
            <input type="text" class="sign-up__input" />
          </label>
          <label class="sign-up__label">
            password:
            <input type="password" class="sign-up__input" />
          </label>
          <label class="sign-up__label">
            email:
            <input type="password" class="sign-up__input" />
          </label>
        </div>
      <button type="submit" class="sign-up__button button button--primary button--large">
        Sign up
      </button>
    </form>
  </div>
  