<div class="wrapper">
    <div class="header">
        <div class="header__container-center">
            <div class="header__logo-container">
                <img src="../../../assets/img/steward.png" alt="steward logo" class="header__logo">
            </div>
            <app-nav class="header__nav">
                <app-nav-item [icon]="plug" [link]="['/auth/sign-in']" class="header__nav-item">
                    Dashboard
                </app-nav-item>
                <app-nav-item [icon]="cog" [link]="['/auth/sign-in']" class="header__nav-item">
                    Settings
                </app-nav-item>
                <app-nav-item [icon]="signOutAlt" [link]="['/auth/sign-in']" class="header__nav-item">
                   Logout
                </app-nav-item>
            </app-nav>
        </div>
        <div class="header__sub-area"></div>
    </div>
   
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>
