<div class="wrapper">
    <div class="header">
        <div class="header__container-center">
            <div class="header__logo-container">
                <img src="../../../assets/img/steward.png" alt="steward logo" class="header__logo">
            </div>
            <app-nav class="header__nav">
                <app-nav-group class="header__nav-group header__nav-group--left">
                    <app-nav-item icon="plug" [link]="['/session/plugin-management']" class="header__nav-item">
                        Plugins
                    </app-nav-item>
                    <app-nav-item icon="project-diagram" [link]="['/session/flow-management']" class="header__nav-item">
                        Flows
                    </app-nav-item>
                    <app-nav-item icon="store-alt" [link]="['/session/source-market']" class="header__nav-item">
                        Source market
                    </app-nav-item>
                    <app-nav-item icon="code" [link]="['/session/devs-room']" class="header__nav-item">
                        Devs room
                    </app-nav-item>
                </app-nav-group>
                <app-nav-group class="header__nav-group header__nav-group--right">
                    <app-nav-item icon="cog" (click)="logout()" class="header__nav-item">
                        Settings
                    </app-nav-item>
                    <app-nav-item icon="sign-out-alt" (click)="logout()" class="header__nav-item">
                        Logout
                    </app-nav-item>
                </app-nav-group>
            </app-nav>
            <app-avatar class="header__avatar" (click)="handleAvatarClick($event)">
                <app-dropdown-menu class="header__dropdown-menu">
                    <app-dropdown-item icon="cog" class="header__dropdown-menu-item">
                        Settings
                    </app-dropdown-item>
                    <app-dropdown-item icon="sign-out-alt" class="header__dropdown-menu-item" (click)="logout()">
                        Logout
                    </app-dropdown-item>
                </app-dropdown-menu>
            </app-avatar>
            <!-- <app-avatar></app-avatar> -->
        </div>
        <div class="header__sub-area"></div>
    </div>

    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>