<div class="footer">
    <p class="footer__powered-by">
        Powered by:
    </p>
    <div class="footer__brand-group">
        <p class="footer__brand">
            <!-- <fa-icon class="footer__icon faGit"></fa-icon> -->
        </p>
        <p class="footer__brand">
            <!-- <fa-icon class="footer__icon faDocker"></fa-icon> -->
        </p>
    </div>
    <p class="footer__copyright">
        &copy; {{currentYear}} Steward by  <a href="mailto:piotr.rgl@gmail.com" class="footer__anchor">(s)Team</a>
    </p>
</div>