<div class="wrapper">
    <div class="header">
        <div class="header__container-center">
            <div class="header__logo-container">
                <img src="../../../assets/img/steward.png" alt="steward logo" class="header__logo" />
            </div>
            <app-nav class="header__nav">
                <app-nav-item icon="rocket" [link]="['/auth/sign-in']" class="header__nav-item">
                    Online Demo
                </app-nav-item>
                <app-nav-item icon="blog"  class="header__nav-item" >
                    Blog
                </app-nav-item>
                <app-nav-item icon="envelope"  class="header__nav-item" >
                    Contact Us
                </app-nav-item>
            </app-nav>
        </div>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
    <app-footer class="footer"></app-footer>
</div>