.wrapper {
  .header {
    background-color: #360099;

    &__container-center {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1366px;
      margin: auto;
    }

    &__logo-container{
      overflow:hidden;
      max-height: 52px;
    }

    &__logo {
      width: 173px;
      height: 65px;
      margin-bottom: -10px;
      padding-left: 16px;
      padding-right: 16px;
      border-radius: 4px;
    }
  }
}
