<div class="homepage">
    <article class="homepage__article homepage__article--nth1">
        <header class="homepage__header">
            <h1>What does the Steward is?</h1>
        </header>
        <p>
            Steward is an application which main goal is a manage of customizable dashboard.
            In fact customizable dashboard is a collection of plugins where a plugin-in represents separated application
            created in
            any framework or library. Application have their own unit of works.
            Unit of works in "Steward" nomenclature represents one instance of the application.
            All does plugins together create a unique ecosystem where any one plug-in can talk to another based on event
            bus architecture placed in the application core.
            More information about plugins you can find in the <b>Doc</b> card below.
        </p>
    </article>
    <section class="homepage__section-get">
        <button class="homepage__button button button--success button--large">
            <fa-icon icon="download"></fa-icon> Get Steward PWA v1.0
        </button>
        <button class="homepage__button button button--success button--large">
            <fa-icon icon="download"></fa-icon> Get Steward Web v1.2
        </button>
    </section>

    <section class="homepage__plugins">
        <app-card class="homepage__card" color="#a12d00" icon="../../../assets/img/books.png" title="Doc">
            You can find here information about the Plug-in architecture, list of available Plugins and the recipe
            how to create your own plug-in.
            This gives you a possibility to understand the core concept of Steward architecture and options to
            attach your own solution.Feel free and create your own "Steward World"!
        </app-card>
        <app-card class="homepage__card" color="#004399" title="Terms and Conditions" icon="../../../assets/img/terms-and-conditions.png">
            Steward Application is distributed under MIT licence. What that is mean it is an Open Source product.
            In this case you can do it with them everything what the MIT licence contains.
            To be more precisely you can see full content by clicking button below.

        </app-card>
        <app-card class="homepage__card" color="#ff0000" icon="../../../assets/img/compare.png" title="Changelog">
            Changelog as we know is the place where we can find all does changes releted to the current or previous
            released version. It is no big deal, but it geaves the posibility to follow current changes and leave some
            feedback.
        </app-card>
        <app-card class="homepage__card" color="#a6e600" icon="../../../assets/img/cake.png" title="Become a Baker">
            This is the place were the product can grow up as Open Source software, but it can be possible only when we
            will cooperate as the team
            around this aplication. So what I can say more "All hands on board".
        </app-card>
    </section>
    <!--Mock-->
    <section class="homepage__events">
        <h1>Current News</h1>
        <app-event class="homepage__event" title="News 1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor vestibulum dolor, at eleifend quam
            venenatis ac. Nullam posuere ante ac orci sollicitudin vulputate. Mauris eleifend diam nec augue gravida, at
            consequat justo fringilla. Ut scelerisque odio lectus, vel condimentum sapien ultricies non. Etiam eleifend
            eros velit, vel porta metus condimentum varius. Integer vel dapibus nisi. Etiam sodales tortor neque, vitae
            rhoncus est feugiat eu. Curabitur bibendum suscipit mauris in cursus. Phasellus aliquam euismod sapien, quis
            feugiat risus bibendum eleifend. Morbi porta quam convallis risus imperdiet malesuada. Fusce non iaculis
            neque. Cras convallis nec augue nec porttitor. Pellentesque dapibus sem et dolor mattis, id dictum metus
            varius.
        </app-event>
        <app-event class="homepage__event" title="News 2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor vestibulum dolor, at eleifend quam
            venenatis ac. Nullam posuere ante ac orci sollicitudin vulputate. Mauris eleifend diam nec augue gravida, at
            consequat justo fringilla. Ut scelerisque odio lectus, vel condimentum sapien ultricies non. Etiam eleifend
            eros velit, vel porta metus condimentum varius. Integer vel dapibus nisi. Etiam sodales tortor neque, vitae
            rhoncus est feugiat eu. Curabitur bibendum suscipit mauris in cursus. Phasellus aliquam euismod sapien, quis
            feugiat risus bibendum eleifend. Morbi porta quam convallis risus imperdiet malesuada. Fusce non iaculis
            neque. Cras convallis nec augue nec porttitor. Pellentesque dapibus sem et dolor mattis, id dictum metus
            varius.
        </app-event>
        <app-event class="homepage__event" title="News 3">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor vestibulum dolor, at eleifend quam
            venenatis ac. Nullam posuere ante ac orci sollicitudin vulputate. Mauris eleifend diam nec augue gravida, at
            consequat justo fringilla. Ut scelerisque odio lectus, vel condimentum sapien ultricies non. Etiam eleifend
            eros velit, vel porta metus condimentum varius. Integer vel dapibus nisi. Etiam sodales tortor neque, vitae
            rhoncus est feugiat eu. Curabitur bibendum suscipit mauris in cursus. Phasellus aliquam euismod sapien, quis
            feugiat risus bibendum eleifend. Morbi porta quam convallis risus imperdiet malesuada. Fusce non iaculis
            neque. Cras convallis nec augue nec porttitor. Pellentesque dapibus sem et dolor mattis, id dictum metus
            varius.
        </app-event>
        <app-event class="homepage__event" title="News 4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor vestibulum dolor, at eleifend quam
            venenatis ac. Nullam posuere ante ac orci sollicitudin vulputate. Mauris eleifend diam nec augue gravida, at
            consequat justo fringilla. Ut scelerisque odio lectus, vel condimentum sapien ultricies non. Etiam eleifend
            eros velit, vel porta metus condimentum varius. Integer vel dapibus nisi. Etiam sodales tortor neque, vitae
            rhoncus est feugiat eu. Curabitur bibendum suscipit mauris in cursus. Phasellus aliquam euismod sapien, quis
            feugiat risus bibendum eleifend. Morbi porta quam convallis risus imperdiet malesuada. Fusce non iaculis
            neque. Cras convallis nec augue nec porttitor. Pellentesque dapibus sem et dolor mattis, id dictum metus
            varius.
        </app-event>
    </section>
</div>