.homepage {
  justify-content: space-around;
  &__header{
    font-size: 2rem;
    color: #303030;
  }

  &__article {
      line-height: 2.7rem;
  }

  &__section-get{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin:0 auto;
    padding-top:3rem;
    padding-bottom: 2rem;
    max-width:700px;

  }

  &__events{
    margin-top:80px;
  }
  
  &__button {
    width:300px;
  }

  &__plugins {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
  }
}

@media screen and (max-width: 600px) {
  .homepage {
    &__button{
      width: 100%;
    }
  }
}