.card {
  position:relative;
  margin-top: 2rem;
  width: 300px;


  &__header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #644dff;
    color: #ffffff;
    border: 1px #888888 solid;
  }

  &__icon {
    width: 50px;
    height: 45px;
  }

  &__h1 {
    box-sizing: border-box;
    padding: 8px;
    font-size: 1.6rem;
  }

  &__content {
    display:flex;
    flex-flow: column;
    justify-content: space-between;
    height:240px;
    display: flex;
    background: #cccccc2e;
    flex-flow: column;
    border-radius: 4px;
    padding: 18px;
    margin-top: 5px;
    border: 1px #888888 solid;
    overflow: hidden;
  }

}


@media screen and (max-width: 600px) {
  .card {
    width: 100%;
    margin-top: 2rem;
  }
}
