.top-navigation {

  .top-navigation__icon--menu {
    display: none;
  }

  .top-navigation__icon {
    font-size: 1.4rem;
    color: #ffffff;
    padding:10px;
  }

  .top-navigation__items {
    display: flex;
    padding: 0px;
    margin: 0px;

    .top-navigation__item {
      display: flex;
      align-items: center;
      list-style: none;
      cursor:pointer;
      height: 50px;

      .top-navigation__anchor {
        display: flex;
        align-items: center;
        height: 50px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        color: #ffffff;
        padding: 0px 22px 0px 22px;

        .top-navigation__text {
          margin-left: 4px;
        }
      }

      .top-navigation__anchor.active {
        background-color: rgba(0, 0, 0, 0.4);
        border-bottom: 2px #fa8e00 solid;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .top-navigation {
    width:100%;
    .top-navigation__icon {
      right: 5px;
      top: 5px;
      display: flex;
      cursor: pointer;
      color: #ffffff;
      font-size: 1.6em;
    }

    .top-navigation__items {
      position: absolute;
      left:0px;
      margin-top:8px;
      width:100%;
      display: none;

      &.top-navigation__items--open {
          display: flex;
          flex-flow: column;
          padding:0px;
          background-color: #5000e6;
      }

      .top-navigation__item:hover {
        background-color: #7a66ff;
      }
    }
  }
}
