<nav class="top-navigation">
    <div class="top-navigation__icon-container">
        <fa-icon class="top-navigation__icon top-navigation__icon--menu" [icon]="bars" (click)="toggleDropDown()"></fa-icon>
    </div>
    <ul class="top-navigation__items" #topNavigationItems>
        <li class="top-navigation__item">
            <a class="top-navigation__anchor" routerLink="/dashboard" routerLinkActive="active">
                <fa-icon class="top-navigation__icon" [icon]="halkboard"></fa-icon>
                <span class="top-navigation__text">Dashboard</span>
            </a>
        </li>
        <li class="top-navigation__item">
            <a class="top-navigation__anchor" routerLink="/login" routerLinkActive="active">
                <fa-icon class="top-navigation__icon" [icon]="signInAlt"></fa-icon>
                <span class="top-navigation__text">Sign In</span>
            </a>
        </li>
        <li class="top-navigation__item">
            <a class="top-navigation__anchor" routerLink="/registration" routerLinkActive="active">
                <fa-icon class="top-navigation__icon" [icon]="userPlus"></fa-icon>
                <span class="top-navigation__text">Sign Up</span>
            </a>
        </li>
    </ul>
</nav>