.nav {
  width: 100%;
  &__icon--menu {
    display: none;
  }

  &__icon {
    font-size: 1.6rem;
    color: #ffffff;
  }

  &__items {
    margin-top: 3px;
    display: flex;
    padding: 0px;
    margin: 0;
  }
}

@media screen and (max-width: 800px) {
  .nav {
    width: 100%;

    &__icon {
      right: 5px;
      top: 5px;
      display: flex;
      cursor: pointer;
      color: #ffffff;
      font-size: 1.5em;

      &--menu {
        padding: 16px;
        font-size: 2.5rem;
      }
    }

    &__items {
      position: absolute;
      left: 0px;

      width: 100%;
      display: none;

      &--open {
        display: flex;
        flex-flow: column;
        padding: 0px;
        background-color: #5000e6;
      }
    }
  }
}
