.input{
    box-sizing : border-box;
    height:32px;
    padding:4px;
    width:100%;
    border-radius: 4px;
    line-height: 16px;
    text-indent: 5px;
    border:2px #eeeeee solid;
    outline: none;
}