.menu {
    .menu__icon {
        display: none;
    }
    .menu__items {
        display: flex;
        padding: 0px;
        margin: 0px;
        .menu__item {
            list-style: none;
            height: 50px;
            .menu__anchor {
                display: flex;
                align-items: center;
                height: 50px;
                font-family: Arial, Helvetica, sans-serif;
                text-decoration: none;
                color: #ffffff;
                padding: 0px 22px 0px 22px;
            }
            .menu__anchor.active {
                background-color: rgba(0, 0, 0, 0.4);
                border-bottom: 2px #fa8e00 solid;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .menu {
        background: #2b007a;
        .menu__icon {
            position: relative;
            justify-content: flex-end;
            display: flex;
            padding: 0.4em;
            cursor: pointer;
            color: #ffffff;
            font-size: 1.6em;
        }
        .menu__items {
            flex-flow: column;
            display: none;
            &.menu__items--open {
                display: flex;
            }
            .menu__item:hover {
                background-color: #9a8bff;
            }
        }
    }
}