.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../../assets/img/auth-background.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
